<!doctype html>
<html class="no-js" lang="zxx" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog | Adonai Associates - Construction & Interior Tips, Trends & Updates from Kerala</title>

    <meta name="author" content="Adonai Associates">
    
    <meta name="description" content="Explore expert blogs from Adonai Associates on construction, interior design, renovation tips, landscaping ideas, and more across Trivandrum, Kollam, Pathanamthitta, and Kerala.">
    
    <meta name="keywords" content="construction blogs Kerala, interior design tips, renovation ideas, civil works blog, Kerala home improvement, Adonai Associates updates, landscaping blog, welding and aluminium works Kerala">
    
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/img/adonai/logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/adonai/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/adonai/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/adonai/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&amp;family=Outfit:wght@100..900&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/app.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="">
    <div class="cursor-follower"></div>
    <div class="slider-drag-cursor"><i class="fas fa-angle-left me-2"></i> DRAG <i class="fas fa-angle-right ms-2"></i>
    </div>
    <div class="preloader">
        <div class="preloader-inner">
            <div class="mb-4"><img src="/img/adonai/logo.png" alt="img"></div>
        </div>
    </div>
    <div class="th-menu-wrapper onepage-nav">
        <div class="th-menu-area text-center"><button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo"><a href="/"><img src="/img/adonai/logo.png" alt="adonaiAssosciates"></a></div>
            <div class="th-mobile-menu allow-natural-scroll">
                <ul>
                    <li><a href="/">Home</a>
                    </li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/services">Service</a>
                    </li>
                    <li><a href="/projects">Projects</a>

                    </li>

                    <li><a href="/blogs">Blogs</a>
                    </li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
     <div class="sidemenu-wrapper sidemenu-info d-none d-lg-block">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget">
                <div class="th-widget-about">
                    <div class="about-logo">
                        <a href="/">
                            <img src="/img/adonai/logo.png" alt="Adonai Associates">
                        </a>
                    </div>
                    <p class="about-text">
                        <strong>Adonai Associates</strong> is your trusted partner for construction, real estate, and
                        interior design services in Kerala. We deliver quality solutions for residential and commercial
                        projects, including building permit plans, 3D elevation design, and aluminium fabrication.
                        Serving Trivandrum, Kollam, Pathanamthitta, Thiruvalla, and beyond.
                    </p>
                </div>
            </div>
            <div class="widget">
                <h3 class="widget_title">Get In Touch</h3>
                <div class="th-widget-contact">
                    <div class="info-box_text">
                        <div class="icon"><img src="/img/icon/location-dot.svg" alt="Location"></div>
                        <div class="details">
                            <p>Adonai Associates,</p>
                            <p>Thiruvalla, Pathanamthitta, Kerala, India</p>
                        </div>
                    </div>
                    <div class="info-box_text">
                        <div class="icon"><img src="/img/icon/phone.svg" alt="Phone"></div>
                        <div class="details">
                            <p>
                                <a href="tel:+919605835574" class="info-box_link">+91 96058 35574</a>
                            </p>
                            <p>
                                <a href="tel:+917034035574" class="info-box_link">+91 70340 35574</a>
                            </p>
                        </div>
                    </div>
                    <div class="info-box_text">
                        <div class="icon"><img src="/img/icon/envelope.svg" alt="Email"></div>
                        <div class="details">
                            <p>
                                <a href="mailto:adonaiassociatesdb@gmail.com"
                                    class="info-box_link">adonaiassociatesdb@gmail.com</a>
                            </p>
                            <p>
                                <a href="mailto:adonaassociatess@gmail.com"
                                    class="info-box_link">adonaassociatess@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <header class="th-header header-default">
        <div class="sticky-wrapper">
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo"><a href="/"><img src="/img/adonai/logo.png" alt="adonaiAssosciates"
                                        class="Adonai_logo"></a></div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li><a href="/">Home</a>
                                    </li>
                                    <li><a href="/services">Services</a>
                                    </li>
                                    <li><a href="/about">About Us</a></li>

                                    <li><a href="/projects">Projects</a>
                                    </li>
                                    <li><a href="/blogs">Blog</a>
                                    </li>
                                    <li><a href="/contact">Contact Us</a></li>
                                </ul>
                            </nav>
                            <div class="header-button d-flex d-lg-none"><button type="button"
                                    class="th-menu-toggle sidebar-btn bg-transparent"><span class="line"></span> <span
                                        class="line"></span> <span class="line"></span></button></div>
                        </div>
                        <div class="col-auto d-none d-xxl-block">
                            <div class="header-button"><a href="tel:+917034035574"
                                    class="th-btn style4 th-btn-icon">Call
                                    Now</a> <button type="button"
                                    class="simple-icon sideMenuInfo sidebar-btn style2"><span class="line"></span> <span
                                        class="line"></span> <span class="line"></span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="breadcumb-wrapper" data-bg-src="/img/bg/breadcumb-bg.jpg">
        <div class="breadcumb-overlay" data-bg-src="/img/bg/breadcumb-bg-overlay.png"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Blog Post</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="/">Home</a></li>
                            <li>Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="th-blog-wrapper space-top space-extra2-bottom">
        <div class="container">
            <div class="row gx-40">
                <div class="col-xxl-8 col-lg-7">
                    <% if (blogs && blogs.length > 0) { %>
                        <% blogs.forEach(function(blog) { %>
                            <div class="th-blog blog-single has-post-thumbnail">
                                <% if (blog.imageUrl) { %>
                                    <div class="blog-img">
                                        <a href="/blogs/<%= blog._id %>">
                                            <img src="<%= blog.imageUrl %>" alt="<%= blog.title %>">
                                        </a>
                                    </div>
                                <% } %>
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <a class="author" href="#"><i class="far fa-user"></i>by <%= blog.author %></a>
                                        <a href="#"><i class="far fa-clock"></i>
                                            <%= blog.createdAt ? blog.createdAt.toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }) : '' %>
                                        </a>
                                    </div>
                                    <h2 class="blog-title">
                                        <a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                                    </h2>
                                    <p class="blog-text">
                                        <%= blog.content.length > 250 ? blog.content.substring(0, 250) + '...' : blog.content %>
                                    </p>
                                    <a href="/blogs/<%= blog._id %>" class="th-btn style-border2 th-btn-icon">Read More</a>
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <div class="alert alert-info">No blog posts found.</div>
                    <% } %>
                    <% if (typeof totalPages !== 'undefined' && totalPages > 1) { %>
                        <div class="th-pagination">
                            <ul class="">
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li>
                                        <a class="<%= i === currentPage ? 'active' : '' %>" href="?page=<%= i %>"><%= i %></a>
                                    </li>
                                <% } %>
                                <% if (currentPage < totalPages) { %>
                                    <li>
                                        <a class="next-page" href="?page=<%= currentPage + 1 %>">Next<i class="far fa-arrow-right ms-2"></i></a>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                </div>
                <div class="col-xxl-4 col-lg-5">
                    <aside class="sidebar-area">
                        <div class="widget widget_search">
                            <form class="search-form" method="GET" action="/blogs">
                                <input type="text" name="search" placeholder="Search...">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </form>
                        </div>
                        <div class="widget widget_categories">
                            <h3 class="widget_title">Categories</h3>
                            <ul>
                                <li><span>No categories</span></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h3 class="widget_title">Recent Posts</h3>
                            <div class="recent-post-wrap">
                                <% if (blogs && blogs.length > 0) { %>
                                    <% blogs.slice(0, 3).forEach(function(blog) { %>
                                        <div class="recent-post">
                                            <div class="media-img">
                                                <a href="/blogs/<%= blog._id %>">
                                                    <img src="<%= blog.imageUrl %>" alt="<%= blog.title %>">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="recent-post-meta">
                                                    <a href="/blogs/<%= blog._id %>">
                                                        <i class="fas fa-calendar-days"></i>
                                                        <%= blog.createdAt ? blog.createdAt.toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }) : '' %>
                                                    </a>
                                                </div>
                                                <h4 class="post-title">
                                                    <a class="text-inherit" href="/blogs/<%= blog._id %>">
                                                        <%= blog.title.length > 40 ? blog.title.substring(0, 40) + '...' : blog.title %>
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>
                                    <% }); %>
                                <% } else { %>
                                    <div class="alert alert-info">No recent posts.</div>
                                <% } %>
                            </div>
                        </div>
                        <div class="widget widget_tag_cloud">
                            <h3 class="widget_title">Popular Tags</h3>
                            <div class="tagcloud">
                                <span>No tags</span>
                            </div>
                        </div>
                        <div class="widget widget_banner" data-bg-src="/img/widget/widget-banner.png">
                            <div class="widget-banner text-center">
                                <h3 class="title">Need Help? We Are Here To Help You</h3>
                                <div class="logo"><img src="/img/adonai/logo.png" alt="img"></div>
                                <h4 class="subtitle">You Get Online support</h4>
                                <h5 class="link"><a href="tel:+91 96058 35574">+91 96058 35574</a></h5>
                                <a href="/contact" class="th-btn style-border th-btn-icon">Contact Us</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-wrapper footer-layout2 bg-white">
        <div class="container">
            <div class="footer-wrap">
                <div class="widget-area">
                    <div class="row justify-content-between">
                        <div class="col-md-6 col-xl-4">
                            <div class="widget footer-widget">
                                <div class="th-widget-about">
                                    <div class="about-logo"><a href="/"><img src="/img/adonai/logo.png"
                                                alt="adonaiAssosciates"></a></div>
                                    <p class="about-text">Adonai Associates is Kerala’s trusted construction,
                                        renovation, and interior solutions company. We deliver quality civil works,
                                        aluminium fabrication, welding, landscaping, and custom interiors for homes and
                                        businesses across Trivandrum, Kollam, Pathanamthitta, and Thiruvalla.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-auto">
                            <div class="widget footer-widget">
                                <h3 class="widget_title">Get In Touch</h3>
                                <div class="th-widget-contact">
                                    <div class="info-box_text">
                                        <div class="icon"><img src="/img/icon/location-dot.svg" alt="img"></div>
                                        <div class="details">
                                            <p>Trivandrum</p>
                                            <p>Kerala , India</p>
                                        </div>
                                    </div>
                                    <div class="info-box_text">
                                        <div class="icon"><img src="/img/icon/phone.svg" alt="img"></div>
                                        <div class="details">
                                            <p><a href="tel:+917034035574" class="info-box_link">+91 7034035574</a></p>
                                            <p><a href="tel:+919605835574" class="info-box_link">+91 9605835574</a></p>
                                        </div>
                                    </div>
                                    <div class="info-box_text">
                                        <div class="icon"><img src="/img/icon/envelope.svg" alt="img"></div>
                                        <div class="details">
                                            <p><a href="mailto:adonaassociatess@gmail.com"
                                                    class="info-box_link">adonaassociatess@gmail.com</a></p>
                                            <p><a href="mailto:adonaiassociatesdb@gmail.com"
                                                    class="info-box_link">adonaiassociatesdb@gmail.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-auto">
                            <div class="widget widget_nav_menu footer-widget">
                                <h3 class="widget_title">Useful Link</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/projects">Projects</a></li>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/contact">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-auto">
                            <div class="widget widget_nav_menu footer-widget">
                                <h3 class="widget_title">Explore</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li><a href="/services">Civil Construction</a></li>
                                        <li><a href="/services">Welding & Fabrication</a></li>
                                        <li><a href="/services">Aluminium Works</a></li>
                                        <li><a href="/services">Interior Design</a></li>
                                        <li><a href="/services">Landscaping & Outdoor</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap bg-title-dark">
            <div class="container">
                <div class="row gy-2 align-items-center">
                    <div class="col-lg-6">
                        <p class="copyright-text">
                            &copy; adonaiassociates. Designed and developed by 
                            <a href="https://jijomonjs.xyz/" target="_blank" rel="noopener">JSCoders</a>
                        </p>
                    </div>
                    <div class="col-lg-6 text-center text-lg-end">
                        <div class="footer-links">
                            <ul>
                                <li><a href="/contact">Terms of service</a></li>
                                <li><a href="/contact">Privacy policy</a></li>
                                <li><a href="/contact">Cookies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="scroll-top"><svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
            </path>
        </svg></div>
    <script src="/js/vendor/jquery-3.7.1.min.js"></script>
    <script src="/js/app.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>